input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


body {
    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #393939;
    background: #EEEEEE;
}

input[type=number] {
  -moz-appearance: textfield;
}

h1 {
    width: min-content;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

i {
    font-size: 80px;
}

.input_section {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.values {
    flex-direction: column-reverse;
}

.labeled_input {
    margin: 1%;
}

.swap_button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding-top: 2vh;
    font-size: 35px;
}

.date_input {
    width: 87.5%;
}

label {
    display: block;
}

input {
    width: 95%;
    font-size: 5.5vw;
    padding: 2.5% 1%;
    margin: 1%;
    border-radius: 10px;
    /*box-shadow: 5px 5px 3px -1px #2F89FC;*/
}

input:focus {
    border: #2F89FC 2px solid;
}

select {
    width: 95%;
    font-size: 5.5vw;
    box-sizing: content-box;
    padding: 2.5% 1%;
    margin: 1%;
    border-radius: 10px;
}

select:focus {
    border: #2F89FC 2px solid;    
}

select option span {
    font-size: 4.5vw;
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 25px;
    }

    form {
        width: max(50%, 900px);
    }

    .swap_button {
        border: none;
        background: transparent;
        cursor: pointer;
        padding-top: 2vh;
        font-size: 35px;
    }

    .input_section {
        flex-direction: row;
    }

    .labeled_input {
        width: 50%;
    }

    input {
        font-size: 30px;
        padding: 2% 1%;
        border: darkgray 1px solid;
    }

    input:focus {
        border: #2F89FC 2px solid;
    }

    select {
        font-size: 30px;
        padding: 2% 1%;
        border: darkgray 1px solid;
        background: url('../res/keyboard_arrow_down-black-18dp.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-color: white;
        -webkit-appearance: none;
    }

    select:focus {
        border: #2F89FC 2px solid;    
    }

}