
/* small screen and general styles */
.site {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #393939;
    background: #EEEEEE;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "title"
        "main"
        "bottom";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

/* prevents the select from overflowing */
select {
    width: 100%;
    font-size: 22px;
}

#title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* form in which conversion infromation is inputed */
.conversion_section {
    padding: 20px;
    grid-area: main;
    display: grid;
    grid-template-areas: 
        "base-value"
        "base-currency"
        "swap"
        "converted-value"
        "converted-currency"
        "date";
    grid-template-columns: 1fr;
}

/* places form elements on the grid */
#base_value {
    grid-area: base-value;
}

#base_currency {
    grid-area: base-currency;
}

.swap_button {
    grid-area: swap;
    margin: 12px auto;
    width: 100%;
}

#converted_value {
    grid-area: converted-value;
}

#to_currency {
    grid-area: converted-currency;
}

#date {
    grid-area: date;
}

.labeled_input {
    display: flex;
    flex-direction: column;
    margin: 12px auto;
    width: 100%;
}

/* large screen styles */
@media screen and (min-width: 600px) {
    .site {
        grid-template-areas: 
            "left title right"
            "left main right"
            "left bottom right";
        font-size: 30px;
        grid-template-columns: 1fr min(100%, 850px) 1fr;
    }

    /* creates grid for large screen devices */
    .conversion_section {
        display: grid;
        grid-area: main;
        grid-template-areas: 
            "base-value base-value converted-value converted-value"
            "base-currency base-currency converted-currency converted-currency"
            "left swap swap right"
            "left date date right";
            column-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }
}
